* {
    margin: auto;
}

body {
    overflow: hidden;
    background-color: var(--most-darkest-color);
}

.DebuggerArea {
    position: absolute;
    width: 35%;
    height: 47%;
    right: 0;
    top: 8%;
    background: var(--white-color);
    overflow: auto;
}

.BlockSettings {
    width: 35%;
    height: 37%;
    right: 0;
    bottom: 0;
    position: absolute;
    background: var(--light-gray-color);
    overflow: auto;
}

.Bar {
    width: 65%;
    height: 8%;
    left: 0px;
    top: 8%;
    position: absolute;
    background: linear-gradient(90deg, var(--contrast-color), var(--accent-color));
}

.TopTitle {
    padding-top: 1%;
    text-align: center;
    width: 15%;
    height: 4.5%;
    left: 2.5%;
    top: 9.5%;
    position: absolute;
    background: var(--gray-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.CodingArea {
    padding: 2.5% 0 2.5% 0;
    width: 62.5%;
    height: 73.5%;
    left: 2.5%;
    bottom: 0;
    position: absolute;
    background: var(--gray-color);
    overflow: auto;
}

.Rectangle {
    width: 2.5%;
    height: 84%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: var(--light-gray-color);
}

.AddNewObjectButton {
    width: 15%;
    height: 10%;
    bottom: 5%;
    right: 36%;
    position: absolute;
    background: var(--accent-color);
    border-radius: 64px;
    text-align: center;
    border: 2px solid var(--accent-color-variant);
}

.PlusIcon {
    width: 10%;
    right: 80%;
    bottom: 35%;
    position: absolute;
}

.RunStop {
    width: 35%;
    height: 8%;
    position: absolute;
    background: var(--most-darkest-color);
    right: 0;
    top: 55%;
}

input {
    border-radius: 8px;
    color: var(--accent-color);
    width: 20%;
    padding: 5px;
    margin: auto;
}

input::placeholder {
    text-align: center;
}

.Button {
    padding: 0;
    background-color: var(--accent-color);
    padding: 5px;
    border-radius: 8px;
}

.MapConfigButton {
    text-align: center;
    top: 56%;
    right: 0.5%;
    position: fixed;
    width: 10%;
    height: 6%;
    padding: 0;
    background-color: var(--accent-color);
    padding: 5px;
    border-radius: 8px;
}

.MapConfigBackground {
    box-shadow: 3px 3px 3px var(--transparent-color);
    padding-top: 2.5%;
    height: 25%;
    width: 0;
    position: fixed;
    top: 65%;
    right: 0.5%;
    background-color: var(--most-darkest-color);
    overflow: auto;
    border-radius: 10px;
}

.MapConfigBackground ul {
    margin: auto;
}

.NewObject {
    margin-right: 10%;
    box-shadow: 3px 3px 3px var(--transparent-color);
    text-align: center;
    background-color: var(--accent-color);
    width: 30%;
    height: 10%;
    border-radius: 16px;
    position: absolute;
    border-bottom: 2px solid var(--white-color);
    filter: brightness(90%);
    margin-bottom: 100px;
}

.AdicionarBlocoButton {
    filter: brightness(90%);
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 0 0 16px 16px;
    border-top: 2px solid var(--white-color);
}

.NovoBloco {
    width: 105%;
    padding: 2% 3%;
    height: 80%;
    background-color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color-variant);
    box-shadow: 3px 3px 3px var(--transparent-color);
}

.NovoBloco:hover {
    box-shadow: none;
}

